[2021-11-30 17:36] ghobona commented on #152
@rob-metalinkage I have uploaded the new HY Features turtle files to the Django CMS and pressed the 'publish' button. The system reported that the content had been published. However, the new content is not showing on VocPrez. The content that was there is displaying as skos:Concept instances.

So am I right in thinking that the VocPrez UI can only display skos:Concept instances?

[2021-11-30 18:10] ghobona commented on #139
Published http://www.opengis.net/def/wkss/OGC/1.0/GoogleMapsCompatible

[2021-11-30 18:10] #139 closed

[2021-11-30 18:34] ghobona commented on #149
All published.

[2021-11-30 18:34] #149 closed

[2021-11-30 20:22] ghobona commented on #137
Trello ticket created today 2021-11-30 for the update.

[2021-12-01 11:45] ghobona commented on #81
This issue is being addressed along with Issue https://github.com/opengeospatial/NamingAuthority/issues/137

A Trello ticket has been created.

[2021-12-01 12:11] ghobona commented on #73
Done.

[2021-12-01 12:11] #73 closed

[2021-12-01 12:18] ghobona commented on #157
Closing this issue because it duplicated another.

[2021-12-01 12:18] #157 closed

[2021-12-01 12:19] ghobona commented on #108
This has come up in a previous OGC API Virtual Code Sprint.

Several websites and browsers now prevent access to resources on `http` from `https`.

There is an increasing need to update the OGC-NA policies to allow registration of concepts under https://www.opengis.net/def.

So the proposal is:

1. To update the OGC-NA policies such that after a nominal date (e.g. 30 June 2022) all future item reg

[2021-12-01 13:12] ghobona commented on #17
@pebau Please add [this definition](https://github.com/opengeospatial/NamingAuthority/blob/master/incubation/temporal/OGC_0_BeforePresentTime.md) to the CRS Resolver at http://www.opengis.net/def/crs/OGC/0/BeforePresentTime

[2021-12-01 13:24] ghobona commented on #8
@chris-little To complete the action stated by the [Motion](https://github.com/opengeospatial/NamingAuthority/issues/8#issuecomment-548333060) passed by the 2019 TC meeting in Banff, we need access to the definition specified by http://resource.geosciml.org/classifier/cgi/geologicage/ma

Unfortunately, the definition is not accessible (i.e. currently returns a 400 error).

We have contacted the ge

[2021-12-01 18:47] ghobona commented on #17
Thanks @pebau !

[2021-12-01 18:47] #17 closed

[2021-12-02 15:14] dblodgett-usgs commented on #152
Looking at this,
https://www.opengis.net/def/schema/hy_features/hyf does not show all the featuretypes or any of the properties?

e.g. https://www.opengis.net/def/schema/hy_features/hyf/HY_HydroLocation can be retrieved but is not listed here: https://www.opengis.net/def/schema/hy_features/hyf

e.g. https://www.opengis.net/def/schema/hy_features/hyf/referencedPosition can not be retrieved but is d

[2021-12-02 17:06] ghobona commented on #152
@dblodgett-usgs The Definitions Server is configured to publish definitions that are encoded as SKOS. [Clause 7.5](https://docs.opengeospatial.org/pol/09-048r5.html#_description) of the definitions policy also states that the definitions have to be `skos:Concept` instances. So we were not able to publish the revised HY_Features definitions. So we will need to modify the HY_Features definitions to

[2021-12-03 10:42] ghobona commented on #92
The draft section on CURIE support, for the definitions policy, is in the **fix-for-issue-92** branch at  the following URL:

https://github.com/opengeospatial/NamingAuthority/blob/fix-for-issue-92/policyAndProcedures/OGCNANameTypeSpecificationForDefinitions/clause_6_1_CURIEs.adoc

The draft content for the CURIE register is at https://github.com/opengeospatial/NamingAuthority/blob/master/incubati

[2021-12-03 11:29] ghobona commented on #152
@dblodgett-usgs Ok, please proceed to update it. Thanks for volunteering.

[2021-12-03 11:45] ghobona commented on #116
The draft text addressing this issue is at https://github.com/opengeospatial/NamingAuthority/blob/fix_for_issue_120/policyAndProcedures/OGCNANameTypeSpecificationForDefinitions/clause_7_subclause_alias.adoc

If there are any objections or requests for changes to the text, please post a comment in this Issue by 2021-12-31.

[2021-12-03 11:46] ghobona commented on #121
The behaviour is being specified in the Policy Issue https://github.com/opengeospatial/NamingAuthority/issues/116

[2021-12-03 11:48] ghobona commented on #120
The draft policy update is referenced at https://github.com/opengeospatial/NamingAuthority/issues/116#issuecomment-985453177

Once the policy update is approved, we can then register http://www.opengis.net/def/crs/OGC/0/CRS84 as an alias of http://www.opengis.net/def/crs/OGC/1.3/CRS84

[2021-12-03 12:18] pebau commented on #121
@rob-metalinkage @ghobona

As I incidentally see this alias above, let me mention that /0/ by definition is an alias for the latest version available, which incidentally for WMS is 1.3, so the additional alias is consistent. The caveat of hardwiring this reference is that any future new version would lead to a deviation = inconsistency.

[2021-12-03 13:57] cportele commented on #121
That statement is not correct. A version "0" identifies un-versioned definitions, which is something different. See the policy: https://docs.opengeospatial.org/pol/09-048r5.html#_production_rule_for_specification_element_names

For the CRS84 alias, this basically makes the CRS84 definition "un-versioned", which is a good step.

A similar change was previously introduced for the EPSG definitions, w

[2021-12-04 07:02] pebau commented on #121
documentation on the OGC resolver wiki says:

  * final solution, as per OGC-NA decision in March 2019:
      o version "0" shall always point to the latest version of the
        corresponding EPSG definition. (Caveat: this may imply unnoticed changes
        by EPSG)

See
https://external.ogc.org/twiki_public/CRSdefinitionResolver/CRSdefinitionDiscussion#Abbreviation_Changes_in_EPSG_Database

Ca

[2021-12-04 09:05] cportele commented on #121
OK thanks for the link. That clarifies it, although section 7.4 of the OGC-NA policy "Names for EPSG definitions" really should have been updated with this information, if there was an OGC-NA decision how to treat version "0". (As an aside, I do not understand why CRS84, which is not an EPSG definition, is discussed in section 7.4.)

The wording

states two things:

* This rule only applies to def

[2021-12-06 07:59] ghobona opened #163 "Register version 5 of CaLAThe"
A new version of CaLAThe has been submitted for registration.

[2021-12-06 10:55] ghobona commented on #8
We have now received confirmation from the geosciml.org team that “there is no MA Concept or even Geologic Time vocab in CGI” and consequently http://resource.geosciml.org/classifier/cgi/geologicage/ma does not exist.

Based on this feedback, the definition of http://www.opengis.net/def/crs/OGC/0/ChronometricGeologicTime will therefore be left unchanged.

If there is no objection by 2021-12-15 to

[2021-12-06 14:39] jerstlouis opened #164 ""OGC definition types" Internal server error"
Clicking on ["OGC definition types"](http://defs.opengis.net/vocprez/object?uri=http://www.opengis.net/def/def-type/) from https://defs.opengis.net/vocprez/ causes an _Internal Server Error_ (_500_).

[2021-12-06 14:49] jerstlouis opened #165 "Linked CRS concepts showing up as "invalid""
Following any CRSes links from https://defs.opengis.net/vocprez/object?uri=http://www.opengis.net/def/crs

e.g.

http://defs.opengis.net/vocprez/object?uri=http%3A//www.opengis.net/def/datum/OGC/0/AnsiDateDatum
http://defs.opengis.net/vocprez/object?uri=http%3A//www.opengis.net/def/crs/OGC/0/.ChronometricGeologicTime-template

[2021-12-07 12:41] rob-metalinkage commented on #152
Hi
I have been doing some tweaking of the entailment - the python and Jena behave differently and default labels wasnt working.

hyf:HY_HydroLocation a owl:Class,
        skos:Concept ;
    rdfs:label "ReferenceLocation"@en ;

- i.e. this shows up but as "ReferenceLocation" - not sure why this one case has a label when nothing else does..

It should not be complete - and Features even have links t

[2021-12-07 15:35] ghobona commented on #137
The [About](https://www.ogc.org/def-server) page has now been updated.

[2021-12-07 15:35] #137 closed

[2021-12-07 22:17] dblodgett-usgs commented on #152
Thanks Rob -- if it would make sense to do some manual intervention here, I'm willing to take that on. I think this is something with how the UML was converted in the first place. If I remember correctly, there was some manual modification after the shapechange run... so we may just be on a wild goose chase.

[2021-12-08 03:47] rob-metalinkage commented on #164
fixed 8/12/2021

[2021-12-08 03:47] #164 closed

[2021-12-08 03:50] rob-metalinkage commented on #152
Hi - I think we can close this now - pending review - and raise specific issues for the content conversion in a separate HY_Features project perhaps?  Specific problems with the UI or entailment can be raised here as new issues.

[2021-12-08 03:50] rob-metalinkage commented on #152
PS - also checked in relevant entailment code updates

[2021-12-08 03:53] rob-metalinkage commented on #141
The vocabularies list provides a filter option - probably better to leave that until a better search is available. Suggest we defer this till a decent amount of resource can be committed to Ux.

[2021-12-08 03:57] rob-metalinkage commented on #112
late comment - sorry missed the question - the current CRS behaviour is problematic because it _only_ offers an XML definition.

Redirect allows different subsystems to deliver different forms of resource - such subsystems include simple file systems with pre-prepared or customised files.

[2021-12-08 03:57] #112 closed

[2021-12-08 04:02] rob-metalinkage commented on #122
This took a while - finally got to the stage where safe to publish to production using the automation scripts.

[2021-12-08 04:02] #122 closed

[2021-12-08 04:19] jerstlouis commented on #112
@rob-metalinkage But shouldn't this still be possible with a 200 and content negotiation through an `Accept:` header?
It could still relay the content provided by different subsystems, in the requested representation.

I still feel very strongly that a redirect is wrong for the definition server presenting a canonical URI, because when you check those canonical URIs, ending up somewhere else leads

[2021-12-08 07:30] sgrellet commented on #152
Indeed that's what @afeliachi did to remove traces of UML "artefacts" from the generated file

I am fine with this. Should we do this in https://github.com/opengeospatial/HY_Features ?
Happy to work on this as well. Easier beginning of 2022 for me I think

[2021-12-09 22:42] PeterParslow commented on #143
Here's a case I'd be interested to hear discussed:

- at first, it is assumed that a version number isn't needed
- later a concept changes enough that it seems a new version is necessary

Choice then:
a) introduce a version number - problem then is that people using the unversioned URI could reasonable assume it applies to (will dereference to) the 'latest version'
b) introduce a "totally differen

[2021-12-10 01:17] nicholascar commented on #124
The query above demonstrating the deficinecy, `wget --header 'Accept:text/ttl' -O Reference.ttl https://www.opengis.net/def/binary-array-ld/Reference` still returns 404 but now also returns an _Alternate Profiles_ `Link` header payload listing the profiles & formats that are available and the text "A profile for the requested URI base exists but no rules match for the requested format".

[Content

[2021-12-10 01:25] nicholascar commented on #124
The "Container Annotations" fundamental profile is defined: https://w3id.org/profile/contanno.

I will:
* work with @rob-metalinkage on the "Container Members" profile
* define a test CBD profile
* list all these fundamental profiles (i.e. make the web page https://w3id.org/profile/ work, again)

[2021-12-16 13:44] #8 closed

[2022-01-03 15:08] dblodgett-usgs commented on #152
That seems right, @sgrellet

[2022-01-04 14:04] ghobona commented on #92
There were no objections nor requests for changes to the text by the deadline of 2021-12-31. I will therefore proceed to submit a draft policy update to the OGC-NA for approval to recommend TC approval.

[2022-01-04 15:05] pzaborowski opened #166 "GitHub workflow and data availability on the defs-dev"
Within the workflow where we pushed modified data master branch (and pushed to the definition server with update_vocabs -u), the schema and specification were available on the definition server under the:
http://defs-dev.opengis.net/vocprez/object?_profile=skos&uri=[base URI]
However, it looks like it does not work if the commit is set to the other branch (still it is pushed to the Definition Serv

[2022-01-20 22:42] rob-metalinkage commented on #152
under review by HY_Features SWG

[2022-01-28 13:51] ghobona commented on #143
The OGC-NA approved this Motion on 2021-12-10.

"The OGC Naming Authority Sub-Committee approves the proposal to amend the OGC Name Type Specification - definitions - part 1 – basic name (OGC 09-048r5) policy document to make the version segment of the URIs optional. Use of the version number is still allowed. Upon approval of this motion, the Chair of the Sub-Committee will proceed to update the

[2022-02-01 10:18] nmtoken commented on #120
Perhaps should also register:

http://www.opengis.net/def/crs/OGC/0/LonLat84_5773

as an alias.

From https://docs.opengeospatial.org/is/12-007r2/12-007r2.html
_Annex B: KML Coordinate Reference System Definition (Normative)_

[2022-02-03 20:27] jerstlouis opened #167 "Register link relation types for 2DTMS 2.0 & OGC API - Tiles"
The following OGC link relation types are defined by [_Two-Dimensional Tile Matrix Set & Tileset Metadata 2.0_](https://docs.opengeospatial.org/DRAFTS/17-083r4.html):

- http://www.opengis.net/def/rel/ogc/1.0/tiling-scheme (to link to the definition a of Tile Matrix Set)
- http://www.opengis.net/def/rel/ogc/1.0/geodata (to link to an OGC API collection resource)
- http://www.opengis.net/def/rel/og

[2022-02-16 11:42] ghobona commented on #92
The fix has been moved to the master branch.

An HTML version of the policy document will be generated once [metanorma Issue 369](https://github.com/metanorma/metanorma-ogc/issues/369) has been fixed.

[2022-02-16 11:42] ghobona commented on #116
The fix has been moved to the master branch.

An HTML version of the policy document will be generated once [metanorma Issue 369](https://github.com/metanorma/metanorma-ogc/issues/369) has been fixed.

[2022-02-16 11:43] ghobona commented on #143
The fix has been moved to the master branch.

An HTML version of the policy document will be generated once [metanorma Issue 369](https://github.com/metanorma/metanorma-ogc/issues/369) has been fixed.

[2022-02-18 13:15] ghobona commented on #92
Draft Policy revision sent to OGC-NA for review. This issue is addressed in [Clause 5.3](https://portal.ogc.org/files/?artifact_id=100119#toc14).

[2022-02-18 13:16] ghobona commented on #116
Draft Policy revision sent to OGC-NA for review. This issue is addressed in [Clause 6.7](https://portal.ogc.org/files/?artifact_id=100119#toc22)

[2022-02-18 13:18] ghobona commented on #143
Draft Policy revision sent to OGC-NA for review. This issue is addressed in [Clause 5.2](https://portal.ogc.org/files/?artifact_id=100119#toc13)

[2022-02-21 17:01] ghobona commented on #165
@rob-metalinkage This issue comes up because VocPrez encodes the VocPrez URL and not the canonical URIs in links to concepts.

So whereas users should be discovering http://www.opengis.net/def/crs, instead they are discovering https://defs.opengis.net/vocprez/object?uri=http://www.opengis.net/def/crs.

[2022-02-21 18:34] ghobona commented on #163
Currently all CaLAThe concepts have been placed under the [4.0](https://www.opengis.net/def/CaLAThe/4.0/) tree.

So the proposal is to place the CaLAThe5 concepts under a [5.0](https://www.opengis.net/def/CaLAThe/5.0/) tree, and then change the status of the CaLAThe4 concepts to 'superseded' with a reference to their CaLAThe5 replacement.

[2022-02-22 12:12] ghobona commented on #163
The proposed approach described above was discussed during the 2022-02-22 OGC Naming Authority meeting. There were no objections to the proposed approach.

[2022-02-22 12:13] ghobona commented on #108
The proposed approach described above was discussed during the 2022-02-22 OGC Naming Authority meeting. There were no objections to the proposed approach.

[2022-03-21 13:34] ghobona opened #169 "Register media type for CWL when OGC API - Processes - Part 3 is published"
When OGC API - Processes - Part 3 is published, we will need to register the CWL media type in the [OGC Definitions Server](http://www.opengis.net/def/media-type/).

Progress towards the registration of the CWL media type at IANA can be tracked at https://github.com/common-workflow-language/common-workflow-language/issues/421

[2022-03-21 13:39] ghobona commented on #169
Cc: @pvretano @p3dr0

[2022-03-21 14:41] p3dr0 commented on #169
@ghobona this should be Part 2

[2022-03-21 16:48] ghobona commented on #169
Thanks @p3dr0 . I have just edited the Issue description.

[2022-03-25 17:55] ghobona opened #170 "External seeAlso references are erroneously sent back to the Definitions Server"
Currently external seeAlso references are erroneously sent back to the Definitions Server. This causes an InputError (with 400 status code) because the references are URLs to external resources.

![Screenshot 2022-03-25 at 17 49 14](https://user-images.githubusercontent.com/18121038/160175101-569d99cc-b85b-4557-9811-156e81ef71ef.png)

The Definitions Server should be modified to allow external see

[2022-03-25 17:58] ghobona commented on #81
The page has been updated.

[2022-03-25 17:58] #81 closed

[2022-03-25 18:02] ghobona commented on #152
@rob-metalinkage Has the HY_Features SWG completed the review?

[2022-03-25 18:09] ghobona commented on #141
The Vocabularies menu item has now been moved further to the right and re-labelled 'Browse Vocabularies'..

The modification addresses the usability concerns I previously had.

@rob-metalinkage Thanks for the modification. I'm happy with this change, so am closing the GitHub Issue.

[2022-03-25 18:09] #141 closed

[2022-03-27 02:07] dblodgett-usgs commented on #152
@ghobona -- members of the SWG have not formally convened a review, but the content that is there is satisfactory for our current baseline needs.

[2022-03-28 06:14] ghobona commented on #152
Thanks @dblodgett-usgs .

@rob-metalinkage The last time I tried to publish the HY_Features definitions (in November 2021) I encountered problems with the publishing mechanism. Could you please publish the HY_Features definitions?

[2022-04-02 14:19] alexrobin opened #171 "Some concept URLs are not resolved properly"
URLs such as http://www.opengis.net/def/property/OGC/0/PlatformOrientation don't get resolved correctly by the OGC def server.

It seems to happen because somehow the concept URL gets rewritten with `https` and then does not resolve with:
http://defs.opengis.net/vocprez/object?uri=https://www.opengis.net/def/property/OGC/0/PlatformOrientation

Note that it works if I change it manually to:
http://

[2022-04-04 07:08] rob-metalinkage commented on #171
Cant replicate this:

http://www.opengis.net/def/property/OGC/0/PlatformOrientation
gets redirected to

http://defs.opengis.net/vocprez/object?uri=http://www.opengis.net/def/property/OGC/0/PlatformOrientation

if you ask for http**s**://www.opengis.net/def/property/OGC/0/PlatformOrientation  it will indeed get redirected to a https version.

The general issue of whether http and https versions sho

[2022-04-04 08:02] alexrobin commented on #171
Actually you're right. For me the issue happens only in Google Chrome (I have version 99.0.4844.84).
If I open the `http` URL in Firefox, it gets redirected correctly as you said, but not in Chrome. Any idea why?

[2022-04-04 08:07] alexrobin commented on #171
It looks like Chrome generates a `307 Internal Redirect` to HTTPS automatically because it detects that the server supports HTTPS.

From [Stack Overflow](https://stackoverflow.com/a/29988907): "A good example of the 307 Internal Redirect in action is when Google Chrome encounters a HTTP call to a domain it knows as requiring Strict Transport Security."

[2022-04-04 11:33] rob-metalinkage commented on #171
My chrome doesnt do this.. nor does a colleagues - on 100.0.4896.60 .  We can look into what our infrastructure is doing and try to be consistent with what its saying about HSTS ... wondering if there is a proxy server at your end or a config in chrome.  There a a few layers here - lets see if we can untangle it!

[2022-04-04 14:22] alexrobin commented on #171
Thanks for checking. One thing for sure is that I have no proxy server but let me look at my Chrome settings.

[2022-04-04 14:34] alexrobin commented on #171
I got it to work by clearing Chrome HSTS domain security policy for `www.opengis.net`.
I guess this domain returns a HSTS header somewhere and my Chrome cached it. We may want to disable HSTS on this domain since it interferes with URI resolution.

[2022-04-13 02:55] dblodgett-usgs commented on #152
One thing to note -- We've noticed some concepts are "experimental" (e.g. https://www.opengis.net/def/schema/hy_features/hyf/HY_HydrometricFeature) -- will these become final when we get them published?

[2022-04-13 05:03] rob-metalinkage commented on #152
Hi all

I'd like to revisit the "one file for all packages" vs one file per package.  IMHO each package probably needs its own namespace and we can add more packages incrementally - testing each one as we go.

I'd also like to capture the exact generation methodology and shapechange configurations from BRGM as metadata - and see if there is a pathway to not hand-editing any pieces.

[2022-04-13 08:21] ghobona commented on #152
@dblodgett-usgs As soon as the SWG approves the definitions, the "experimental" label can come off.

[2022-04-13 13:35] dblodgett-usgs commented on #152
We approved them via email vote some time ago. I guess I'm confused as some definitions are not experimental already.

[2022-04-13 14:06] ghobona commented on #152
@dblodgett-usgs In that case then, I will initiate an OGC-NA email vote today proposing that the status of the HY_Features definitions be changed to 'valid'.

[2022-04-13 14:17] sgrellet commented on #152
@rob-metalinkage : should we understand that you plan to adjust the URI patterns applied to take into account the packages names ? I wonder whether in the context of HY_Features the packages are just UML artefacts or actually have an importance in structuring the semantics ? For example in GeoSciml we have 'Basic' and various extensions which I'd prefer leaving out of the ontology discussion.

I n

[2022-04-13 14:22] ghobona commented on #152
@dblodgett-usgs If the namespaces are going to change, then we should hold off removing the 'experimental' label because changing the namespaces of resolvable URIs would move them to a different location. Do you agree?

[2022-04-13 14:25] sgrellet commented on #152
indeed @ghobona  : I agree, we should wait for @rob-metalinkage answers to my questions

[2022-04-13 14:40] dblodgett-usgs commented on #152
I don't agree. The current URIs are fine and have been approved by the SWG. Further, some are already listed as approved.
e.g. https://www.opengis.net/def/schema/hy_features/hyf/HY_Catchment

[2022-04-13 15:06] ghobona commented on #152
@dblodgett-usgs You are right. Since the SWG has already approved them, we should proceed with the definitions and namespaces as they currently are.

I'll proceed with the OGC-NA email vote.

[2022-04-13 20:28] rob-metalinkage commented on #152
Ok.. I think we are in the territory of translating a conceptual model to a logical model to a physical.model here and that translation involved namespace mapping.  At the moment there us no link back to the conceptual model package.. but we could look at formalising a canonical pattern for metadata attributes for ontology elements. It's a swings and roundabouts case I guess.  I'll try to find tim

[2022-04-14 06:19] sgrellet commented on #152
Everyone, I was more willing to wait for Rob's feedback not to change those URIs the SWG validated!
-> I'm ok proceeding as planned as we have several UseCases needing those URIs to move on.

I was more in the idea of trying to refine more the process with Rob.
-> that's not the only standard we have awaiting to be published like this. So the cleaner the work sequence, the easiest it will for us a

[2022-04-14 11:28] rob-metalinkage commented on #152
Re refining the process - is it possible to run the conversion, keeping the same URIs but adding a link to the containing package (each package will need a URI) - then at least users can follow that link for a given definition and find a path to the specific package in case some implementation needs package specific artefacts, or people want the original UML?

If we can have a spreadsheet matching

[2022-04-14 13:18] dblodgett-usgs commented on #152
Understood @sgrellet -- I'd like to keep this particular issue on track though. @rob-metalinkage Can you open a new issue to discuss the packaging nuances?

[2022-04-19 06:53] ghobona opened #172 "Ready for OGC-NA Review: OGC API - Tiles - Part 1: Core"
OGC-NA,

The document titled "OGC API - Tiles - Part 1: Core" with reference number 20-057 is now available for review by the OGC Naming Authority (OGC-NA) Subcommittee.

https://portal.ogc.org/files/?artifact_id=100092 (OGC Member Access only)

Please review the document by 22:00 UTC on April 26, 2022 focusing on its conformance to OGC-NA policies.

NOTE: This deadline is extended from April 16th

[2022-04-19 06:56] ghobona opened #173 "Ready for OGC-NA Review: OGC API - Common - Part 2: Geospatial Data"
OGC-NA,

The document titled "OGC API - Common - Part 2: Geospatial Data" with reference number 20-024 is now available for review by the OGC Naming Authority (OGC-NA) Subcommittee.

https://portal.ogc.org/files/?artifact_id=99149 (OGC Member access only)

Please review the document by 22:00 UTC on Apr 26, 2022 focusing on its conformance to OGC-NA policies.

OGC-NA policies can be found at https:

[2022-04-19 06:58] ghobona opened #174 "Ready for OGC-NA Review: OGC API - Routes - Part 1: Core"
OGC-NA,

The document(s) titled "OGC API - Routes - Part 1: Core" with reference number 21-000 is/are now available for review by the OGC Naming Authority (OGC-NA) Subcommittee.

https://portal.ogc.org/files/?artifact_id=100095 (OGC Member access only)

Please review the documents by 22:00 UTC on Apr 26, 2022 focusing on its conformance to OGC-NA policies.

OGC-NA policies can be found at https://

[2022-04-19 07:00] ghobona opened #175 "Ready for OGC-NA Review: Route Exchange Model"
OGC-NA,

The document(s) titled "Route Exchange Model" with reference number 21-001 is/are now available for review by the OGC Naming Authority (OGC-NA) Subcommittee.

https://portal.ogc.org/files/?artifact_id=100096 (OGC Member access only)

Please review the documents by 22:00 UTC on Apr 26, 2022 focusing on its conformance to OGC-NA policies.

OGC-NA policies can be found at https://www.ogc.org

[2022-04-19 07:09] ghobona opened #176 "Ready for OGC-NA Review: GeoPackage Conceptual and Logical Model"
OGC-NA,

The document(s) titled "GeoPackage Conceptual and Logical Model" with reference number 21-053 is/are now available for review by the OGC Naming Authority (OGC-NA) Subcommittee.

https://portal.ogc.org/files/?artifact_id=98511&version=1 (OGC Member access only)

Please review the documents by 22:00 UTC on Apr 26, 2022 focusing on its conformance to OGC-NA policies.

OGC-NA policies can be

[2022-04-19 07:10] ghobona opened #177 "Ready for OGC-NA Review: GeoPackage WKT for Coordinate Reference Systems Extension 1.1"
OGC-NA,

The document(s) titled "GeoPackage WKT for Coordinate Reference Systems Extension 1.1" with reference number 21-057 is/are now available for review by the OGC Naming Authority (OGC-NA) Subcommittee.

https://portal.ogc.org/files/?artifact_id=98681&version=1 (OGC Member access only)

Please review the documents by 22:00 UTC on Apr 26, 2022 focusing on its conformance to OGC-NA policies.

O

[2022-04-19 07:37] ghobona commented on #172
One set of comments is at https://portal.ogc.org/files/?artifact_id=100735

[2022-04-26 12:46] ghobona commented on #173
An annotated copy of the document is on the OGC Portal at https://portal.ogc.org/files/?artifact_id=100793

[2022-04-26 13:59] ghobona commented on #173
This candidate standard proposes use of the `/rm/` segment to identify requirements modules, for example `http://www.opengis.net/spec/ogcapi-common-2/1.0/rm/collection`.

A **Requirements Module** is defined as an "aggregate of requirements and recommendations of a specification against a single standardization target type" (OGC 08-131r3).

[Clause 8.3](https://docs.ogc.org/pol/10-103r1.html#_spec

[2022-04-26 16:31] ghobona commented on #173
An annotated copy of the candidate standard is at https://portal.ogc.org/files/?artifact_id=100794

[2022-04-26 18:47] ghobona commented on #175
Minor typo: Conformance Test 16 lists **/req/rem/segements** in the Requirements field but should instead list **/req/rem/segments**

[2022-04-26 19:22] ghobona commented on #174
The line above Table 2 says "The API building blocks support the resources and operations listed in Table 1."

The line should probably reference Table 2 instead of Table 1.

[2022-04-26 21:07] ghobona commented on #172
Review completed.

[2022-04-26 21:07] #172 closed

[2022-04-26 21:19] ghobona commented on #173
Review completed.

[2022-04-26 21:19] #173 closed

[2022-04-26 21:22] ghobona commented on #174
Review completed.

[2022-04-26 21:22] #174 closed

[2022-04-26 21:23] ghobona commented on #175
Review completed.

[2022-04-26 21:23] #175 closed

[2022-04-27 06:42] ghobona commented on #167
Add the following IANA ones as well (used by OGC API - Processes):

- status
- up

[2022-04-27 07:24] ghobona commented on #167
This link relation type is mentioned in Requirement 16 of OGC API - Tiles  - Part 1 in relations to maps. It is therefore expected that it will be specified in OGC API - Maps - Part 1. In the meantime, we will proceed to register it so that implementers are aware of it.

http://www.opengis.net/def/rel/ogc/1.0/map

[2022-04-27 08:28] #167 closed

[2022-04-27 08:45] ghobona opened #179 "Register http://www.opengis.net/def/crs/OGC/0/LonLat84_5773"
This CRS is specified in [Annex B](https://docs.opengeospatial.org/is/12-007r2/12-007r2.html#kml_crs_def) of the OGC KML 2.3 standard.

Thanks @nmtoken for pointing it out.

@pebau The CRS does not appear to be currently registered in SECORE. Since OGC KML 2.3 is an approved standard, could you please proceed to publish the definition through the SECORE?

[2022-04-27 11:46] ghobona commented on #176
Comments are in an annotated copy of the document at https://portal.ogc.org/files/?artifact_id=100807

[2022-04-27 11:46] #176 closed

[2022-04-27 12:47] ghobona commented on #177
An annotated document is at https://portal.ogc.org/files/?artifact_id=100808

[2022-04-27 12:49] #177 closed

[2022-04-27 13:15] jyutzler commented on #176
https://github.com/opengeospatial/geopackage/issues/617#issuecomment-1110986421

[2022-05-04 11:05] ghobona opened #180 "OGC-NA Review: OGC Encoding Linked Data Graphs in NetCDF Files"
OGC-NA,

The document titled "OGC Encoding Linked Data Graphs in NetCDF Files" with reference number  19-002 is now available for review by the OGC Naming Authority (OGC-NA) Subcommittee.

https://portal.ogc.org/files/?artifact_id=100865 (OGC Portal log-in required)

Please review the document by 22:00 UTC on May 12, 2022 focusing on its conformance to OGC-NA policies.

OGC-NA policies can be foun

[2022-05-10 07:10] mr-c commented on #169
The IANA media types `application/cwl` and `application/cwl+json` are now official! https://www.iana.org/assignments/media-types/media-types.xhtml

https://www.iana.org/assignments/media-types/application/cwl
https://www.iana.org/assignments/media-types/application/cwl+json

[2022-05-10 07:53] p3dr0 commented on #169
great news !
thanks @mr-c

[2022-05-10 09:56] ghobona commented on #169
Cc: @jerstlouis @pvretano

[2022-05-10 11:43] pvretano commented on #169
@mr-c that is great news!  Thanks for info ...

[2022-05-13 10:43] #180 closed

[2022-06-13 10:52] ghobona opened #181 "prov:wasDerivedFrom is not appearing on VocPrez"
The new revision of the Definitions Policy uses `prov:wasDerivedFrom` in the [CURIE register](http://www.opengis.net/def/curie) for specifying the URI to which the registered CURIE applies.

Unfortunately, VocPrez does not appear to be showing triples that contain `prov:wasDerivedFrom` as a predicate.

Please update the VocPrez configuration to support the predicate.

[2022-06-13 10:55] ghobona commented on #181
The source files are at https://github.com/opengeospatial/NamingAuthority/tree/master/incubation/CURIEs

[2022-06-20 10:58] ghobona opened #182 "Establish a way of checking consistent relation type use in OGC API Standards"
[Action for Naming Authority, from the OGC API Common SWG](https://github.com/opengeospatial/ogcapi-common/issues/310#issuecomment-1156520142) - establish a way of checking that two different API Standards are not using a `rel` in a manner which is inconsistent with other API Standards.

[2022-07-08 00:04] fmigneault opened #183 "Pages from WPS schemas.opengis.net missing `Content-Type` header in responses"
Similar to #70

All https://schemas.opengis.net/wps/ ... endpoints have stopped returning `Content-Type` header.
I have not checked for other elements than WPS schema, but there could be other endpoints with similar issues.

The repo I work on has a test that checks the `Content-Type` returned by such endpoints
(for example: http://schemas.opengis.net/wps/1.0.0/wpsAll.xsd)

This commit was still p

[2022-07-12 07:42] ghobona opened #184 "Register http://www.opengis.net/def/integrated-methane-sensor-web/observed-properties/fugitive-methane-emissions"
Register http://www.opengis.net/def/integrated-methane-sensor-web/observed-properties/fugitive-methane-emissions

Source: OGC Integrated Methane Sensor Web for Emissions Management Best Practice - Part I - Fugitive Emissions Management based on AER Directive 60 (OGC 21-070).

[2022-07-14 00:50] jerstlouis commented on #106
The Tiles SWG has set up a TileMatrixSet registry holding all definitions of registered TileMatrixSet at https://github.com/opengeospatial/2D-Tile-Matrix-Set/tree/master/registry/, including both JSON and XML encodings, with the intent that the OGC definition server could return the content of those definitions directly based on content negotiation.

Note that these follow the logical model and en

[2022-07-14 00:51] jerstlouis commented on #109
The Tiles SWG has set up a TileMatrixSet registry holding all definitions of registered TileMatrixSet at https://github.com/opengeospatial/2D-Tile-Matrix-Set/tree/master/registry/, including both JSON and XML encodings, with the intent that the OGC definition server could return the content of those definitions directly based on content negotiation.

Note that these follow the logical model and en

[2022-08-02 17:28] ghobona commented on #124
Additional request for Content Negotiation to enable access to JSON and XML representations of Tile Matrix Sets.

https://github.com/opengeospatial/NamingAuthority/issues/106#issuecomment-1183827273

Cc: @jerstlouis

[2022-08-02 18:55] #86 closed

[2022-08-02 19:08] #106 closed

[2022-08-02 19:10] ghobona opened #192 "Only one seeAlso statement is displayed even when multiple seeAlso statements have been declared"
This was detected on the [tms.ttl#L175](https://github.com/opengeospatial/NamingAuthority/blob/master/definitions/conceptschemes/tms.ttl#L175) file. The same issue appears in other files.

[2022-08-02 19:12] ghobona commented on #192
![Screenshot 2022-08-02 at 20 11 19](https://user-images.githubusercontent.com/18121038/182454735-9dffb9b6-a0cb-486f-bf3e-d36f341daad1.png)

[2022-08-03 04:27] ghobona opened #193 "Several statements not showing nor exported by VocPrez"
Several of the statements and predicates that were uploaded with the [OGC License](http://www.opengis.net/def/licenses/ogc) concept are not showing on the VocPrez UI.

Several of the statements are also not being exported by the Alternate Views mechanism.

https://github.com/opengeospatial/NamingAuthority/pull/190/files

For example, promotionWithLicensorName, action, permission, etc

[2022-08-03 04:30] ghobona commented on #143
The [revised policy](https://docs.opengeospatial.org/pol/09-048r6.html#toc13) has been published.

[2022-08-03 04:30] #143 closed

[2022-08-03 04:32] ghobona commented on #116
The [revised policy](https://docs.opengeospatial.org/pol/09-048r6.html#toc22) has been published.

[2022-08-03 04:32] #116 closed

[2022-08-03 04:33] ghobona commented on #92
The [revised policy](https://docs.opengeospatial.org/pol/09-048r6.html#toc14) has been published.

[2022-08-03 04:33] #92 closed

[2022-08-03 04:34] ghobona commented on #93
The [revised policy](https://docs.opengeospatial.org/pol/09-048r6.html#toc23) has been published.

[2022-08-03 04:34] #93 closed

[2022-08-03 04:40] ghobona commented on #179
@pebau Any progress publishing this definition on SECORE?

[2022-08-03 04:44] ghobona commented on #150
Closing this issue. The issue can be reopened when GeoXACML 3.0 is submitted for Public Comment.

[2022-08-03 14:26] kstegemoller commented on #183
.xsd files is now served as

[code]

[2022-08-03 14:31] pebau commented on #179
@ghobona will check and come back asap

[2022-08-03 15:22] ghobona commented on #183
Thanks, @kstegemoller !

@fmigneault is the problem solved?

[2022-08-03 17:00] ghobona commented on #171
@alexrobin I was not able to replicate the issue on Chrome. I am using Version 103.0.5060.134 (Official Build) (x86_64).

We intentionally added HSTS support as part of a transition towards supporting TLS/HTTPS.

That is one of the reasons for updating OGC-NA policy to allow for [aliases](https://docs.opengeospatial.org/pol/09-048r6.html#toc22).

I am glad that you managed to get the URLs working.

[2022-08-04 07:12] pebau commented on #179
@ghobona done now, see http://www.opengis.net/def/crs/OGC/0/CRS84

[2022-08-04 08:21] dr-shorthair commented on #179
XML ... :dizzy_face: :tired_face:
Any plans to produce a JSON implementation?

[2022-08-04 08:28] pebau commented on #179
yes, on the radar since long. The SECORE code is open source, so 2 ways as usual:
- someone enhances the code (we're happy to assist)
- contract to us

[2022-08-04 09:42] ghobona commented on #179
@pebau As stated in the title of this GitHub Issue, the request was to register http://www.opengis.net/def/crs/OGC/0/LonLat84_5773  and not http://www.opengis.net/def/crs/OGC/0/CRS84.

Please register http://www.opengis.net/def/crs/OGC/0/LonLat84_5773

[2022-08-04 09:47] ghobona commented on #179
@dr-shorthair The CRS SWG is discussing the possibility of a JSON encoding on the [mailing list](https://lists.ogc.org/mailman/private/crs.swg/2022-June/thread.html). OGC Members can access and participate in the discussion after signing the Observer Agreement.

[2022-08-04 10:39] pebau commented on #179
sorry, copy/paste during telecon:  http://www.opengis.net/def/crs/OGC/0/LonLat84_5773

[2022-08-08 16:01] fmigneault commented on #183
@ghobona Yes! Looks all good on my end also. Thanks

[2022-08-08 16:01] #183 closed

[2022-08-10 14:06] ghobona commented on #97
If the subject of a statement is the Style, then the relationship to the Data could be just DatasetStyled.

[2022-08-10 14:16] jerstlouis commented on #97
@ghobona The idea with a GeoDataClass is to *not* be tied to any specific dataset, or any specific style (or process), but to have a URI describing a *class* of data which a dataset can belong to, a style can portray, or a process can use as an input.

This URI / class can be established before any data set, style or process is created.

A single relationship pointing to a single "DataSet styled"

[2022-08-10 21:08] ghobona commented on #97
The difficulty is that what is being proposed is not specified in detail in any OGC Standard, profile, nor extension. I would prefer to transfer this GitHub Issue to a repository of a SWG or DWG that is tasked with specifying the concept of a Geo Data Class (Stylable Layer Set) so that the concept can be more formally specified.

@jerstlouis Would the [Styles & Symbology SWG](https://github.com/op

[2022-08-10 23:43] jerstlouis commented on #97
@ghobona That might actually be a good idea.

Perhaps we could include this on the roadmap for the next minor revision to SymCore that we will be discussing at the OSGeo Community Sprint in a couple weeks. @ebocher

It is also not specific to Styling, so perhaps if we could also involve the Architecture DWG and perhaps the Workfows DWG/Processes SWG it would be great as well.

The [Testbed 15 Meta

[2022-08-11 08:33] ghobona commented on #97
Thanks @jerstlouis .

I am transferring the Issue now.

[2022-08-11 08:37] ghobona commented on #179
That's great! Thanks @pebau!

[2022-08-11 08:37] #179 closed

[2022-08-11 08:53] ghobona commented on #84
@RogerLott Could the CRS DWG please review the [CRS84](http://www.opengis.net/def/crs/OGC/1.3/CRS84) definition and confirm whether or not an `<ellipsoidalCS>` element is missing?

[2022-08-11 20:24] RogerLott commented on #84
Hi Gobe,

Yes it is missing from the GML which gives:

<ellipsoidalCS>

  <empty/>

</ellipsoidalCS>

It should be:

<gml:ellipsoidalCS>

<gml:EllipsoidalCS gml:id="epsg-cs-6424">

  <gml:metaDataProperty>

    <epsg:CommonMetaData>

     <epsg:type>ellipsoidal</epsg:type>

     <epsg:informationSource>OGP</epsg:informationSource>

     <epsg:revisionDate>2015-05-22</epsg:revisionDate>

     <epsg

[2022-08-11 21:08] ghobona commented on #84
@RogerLott Thanks for the review. I'll prepare a draft revision for the OGC-NA to consider and approve.

[2022-08-27 07:22] bradh opened #194 "Possibly invalid parameters in Simple Feature media type"
#51 registered the GML 3.2 simple features profiles.

However it uses `http://www.opengis.net/def/profile/ogc/2.0/gml-sf0` which is probably not conformant to the RFC 6838 value range for a parameter value (see https://www.rfc-editor.org/rfc/rfc6838#section-4.3) which requires this to be a `restricted-name`, which cannot contain a `:` or `/` character (see https://www.rfc-editor.org/rfc/rfc6838#se

[2022-09-02 07:07] cportele commented on #194
@ghobona

See https://github.com/opengeospatial/ogcapi-features/issues/759#issuecomment-1234518832 for my thoughts how to address this.

Also, there is a problem with the Definition Server, http://www.opengis.net/def/profile/ogc/gml/gml-sf0, http://www.opengis.net/def/profile/ogc/gml and http://www.opengis.net/def/profile all result in an error.

[2022-09-02 12:26] rob-metalinkage commented on #194
The Definition server has the following:

http://www.opengis.net/def/profile/ogc/2.0/gml-sf0

@ghobona  has something under the incubation tree here - we probably ought to at least mark it as experimental.

Can we identify the owner of the relevant register and the requirements here and we can update the content. We should look to annotate the scheme with relevant metadata about ownership.

We wil

[2022-09-05 10:05] ghobona commented on #194
@rob-metalinkage http://www.opengis.net/def/profile/ogc/2.0/gml-sf0 is referenced by [OGC API - Features - Part 1](https://docs.opengeospatial.org/is/17-069r4/17-069r4.html#_requirements_class_geography_markup_language_gml_simple_features_profile_level_0) and the [IANA registration of the GML media type](https://www.iana.org/assignments/media-types/application/gml+xml). So it is not experimental.

[2022-09-07 10:46] letmaik commented on #194
I might be missing something, but https://www.rfc-editor.org/rfc/rfc6838#section-4.3 only seems to place a requirement on the parameter *name*, not the value.

   registrations MUST specify parameter value syntax.  Additionally,
   some transports impose restrictions on parameter value syntax, so
   care needs be taken to limit the use of potentially problematic
   syntaxes; e.g., pure binary valu

[2022-09-07 10:56] cportele commented on #194
@letmaik - I think you are correct, it looks like this is a non-issue (except for the error in the OGC definition server that still needs to be fixed).

BTW, a URI as a value must be quoted in a HTTP field since it contains separators (e.g. `:` or `/`).

[2022-09-07 11:49] letmaik commented on #194
@cportele You're right, URIs in an HTTP field must be quoted. https://www.rfc-editor.org/rfc/rfc2616#section-2.2 contains the list of separators for reference.

[2022-09-07 11:55] #194 closed

[2022-09-19 14:19] jerstlouis opened #197 "400 Input Error on TileMatrixSet "see also""
Clicking _see also_ on any TileMatrixSet e.g.,

http://www.opengis.net/def/tilematrixset/OGC/1.0/GNOSISGlobalGrid

Results in a **_400 Input Error_**.

The URL that see also links to is e.g.,

https://defs.opengis.net/vocprez/object?uri=http%3A//schemas.opengis.net/tms/1.0/json/examples/GNOSISGlobalGrid.json

This makes it impossible for users/developers to manually retrieve a TileMatrixSet defini

[2022-09-19 14:39] jerstlouis opened #198 "Not possible to retrieve TileMatrixSet definitions from definitions server"
Currently it is not possible to retrieve TileMatrixSet definitions from definition server.

It is not possible programmatically:

Using an  `Accept: application/json` header results in a SKOS JSON object which is not useful for clients or developers.

What is really needed is clients being able to retrieve the actual definition of a TileMatrixSet based on the schema defined by the [2D Tile Matrix

[2022-09-19 14:55] jerstlouis commented on #109
Re-iterating the use case:

Re-direction for the TileMatrixSet registry is problematic for several reasons:
   - there is nowhere to re-direct to, since the TileMatrixSet registry is itself the authority on the definitions (which can be sourced from [2DTMS GitHub repo](https://github.com/opengeospatial/2D-Tile-Matrix-Set/tree/master/registry/))
   - several clients (including cURL without -L) don'

[2022-09-19 16:29] ghobona commented on #197
When I click on http://www.opengis.net/def/tilematrixset/OGC/1.0/GNOSISGlobalGrid , I get a valid response. See the attached screenshot. The link worked on both Safari and Chrome.

<img width="1406" alt="Screenshot 2022-09-19 at 18 27 29" src="https://user-images.githubusercontent.com/18121038/191066734-d735fd8c-ed5a-4e8a-9412-dd96f84e822e.png">

[2022-09-19 16:35] ghobona commented on #197
The second part of the Issue description above is a duplicate of https://github.com/opengeospatial/NamingAuthority/issues/170 and https://github.com/opengeospatial/NamingAuthority/issues/198

@jerstlouis Please move the bullet points to https://github.com/opengeospatial/NamingAuthority/issues/198 and close this GitHub Issue (#197) so that we can keep all relevant comments in the same issue.

[2022-09-19 16:43] ghobona opened #199 "Deprecate v1.0 tile matrix set examples"
The examples from schemas.opengis.net/tms/1.0 are deprecated. The data model has changed for [2DTMS&TSMD version 2.0](https://docs.opengeospatial.org/is/17-083r4/17-083r4.html). The new schemas will be deployed to /tms/2.0.

Reported by @jerstlouis

[2022-09-19 16:46] cportele commented on #197
@ghobona - I have the same issue as Jerome. In my case the behavior depends on the browser:

Chrome (latest version): When I click on http://www.opengis.net/def/tilematrixset/OGC/1.0/GNOSISGlobalGrid, I get a 307 redirect due to HSTS to https://www.opengis.net/def/tilematrixset/OGC/1.0/GNOSISGlobalGrid which in turn results in a 303 redirect to http://defs.opengis.net/vocprez/object?uri=https://ww

[2022-09-19 16:47] jerstlouis commented on #170
Clicking **_see also_** on any TileMatrixSet e.g.,

http://www.opengis.net/def/tilematrixset/OGC/1.0/GNOSISGlobalGrid

Results in a 400 Input Error.

The URL that _see also_ links to is e.g.,

https://defs.opengis.net/vocprez/object?uri=http%3A//schemas.opengis.net/tms/1.0/json/examples/GNOSISGlobalGrid.json

The value of the uri query parameter, the external link, is an invalid URI for the defini

[2022-09-19 16:48] jerstlouis commented on #197
Thank you @ghobona .

I meant clicking on the **_See Also_**, not the URI (that just sends back to the current page).

Yes I discovered #170 afterwards and was not sure whether it was a duplicate of this issue or not.
It was not obvious from the title: _External seeAlso references are erroneously sent back to the Definitions Server_, but that is indeed what causes this issue.

I have moved the bul

[2022-09-19 16:48] #197 closed

[2022-09-19 16:51] cportele commented on #170
Copied from #197:

I also get 400 errors for most definitions server requests. In my case the behavior depends on the browser:

Chrome (latest version): When I click on http://www.opengis.net/def/tilematrixset/OGC/1.0/GNOSISGlobalGrid, I get a 307 redirect due to HSTS to https://www.opengis.net/def/tilematrixset/OGC/1.0/GNOSISGlobalGrid which in turn results in a 303 redirect to http://defs.opengi

[2022-09-19 17:10] jerstlouis commented on #170
I believe the issue reported by @cportele needs to be addressed as well but it is a different issue, not related to the external see also link, but specifically related to https:

- The following (the first redirects the second) also return a 400 for me:
   - https://www.opengis.net/def/tilematrixset/OGC/1.0/GNOSISGlobalGrid
   - http://defs.opengis.net/vocprez/object?uri=https://www.opengis.net/d

[2022-09-19 17:14] jerstlouis commented on #199
Thank you @ghobona .

And as I clarified in #198:

- **The definition server should _not_ link to or copy from the TileMatrixSet definitions in neither `/tms/1.0` nor `/tms/2.0`**.
- The examples in the schemas/ folder and 2DTMS&TSMD standard are **not** the authoritative source for the TileMatrixSet definitions. Rather, the TileMatrixSet registry itself, as presented by the definition server, is.

[2022-09-19 23:57] rob-metalinkage opened #200 "Entail dcat:landingPage for all HTML references to http://docs.opengeospatial.org"
PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
PREFIX spec: <http://www.opengis.net/def/ont/modspec/>
PREFIX defs: <http://www.opengis.net/def/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT (COUNT (?s) as ?num )
        WHERE {

                ?s skos:inScheme defs:docs .
                ?s rdfs:seeAlso ?a
    FILTER ( STRSTARTS ( STR(?a) , "http://docs.opengeospatial.org" ) )

[2022-09-20 00:09] rob-metalinkage opened #201 "ETL for links from specs to schema resources"
Explore options to link docs register entries and/or conformance class elements to http://schemas.opengis.net/ resources.

Note this may be a ETL with editing around anomalous patterns - or may require generating a list and doing some sort of matching process manually.  (Is this a web app we could find or build for similar cases?)

We should be looking to normalise and automate this in the NamingA

[2022-09-20 00:11] rob-metalinkage commented on #201
Note - Alejandro when he is assigned to project will perform linking, but Gobe first to identify existing policies procedures and share thoughts on such ETL processes.

[2022-09-20 04:25] rob-metalinkage commented on #170
We have a fix for the seeAlso being pushed through - it will use a local link only if we have information about the link, otherwise support the link - however we need to work on the issue of being allowed to jump to a http link from a https resource...

http://www.opengis.net/def/tilematrixset/OGC/1.0/GNOSISGlobalGrid links to the resource with that identifer

so does

https://www.opengis.net/def/

[2022-09-20 04:26] rob-metalinkage commented on #170
Note #116 has been resolved for the name type specification - not the general case.

[2022-09-20 04:29] rob-metalinkage commented on #170
Assigning to Alejandro Villar to explore UI options and to configure entailment as per this requirement where a sameAs is declared.

[2022-09-20 06:26] cportele commented on #170
If there is no resource https://www.opengis.net/def/tilematrixset/OGC/1.0/GNOSISGlobalGrid, then the HSTS redirects must be deactivated on the server, because HSTS redirects the first URI to the second resource.

[2022-09-20 07:40] rob-metalinkage commented on #170
Can you please identify your http client that is triggering this redirect - this does not happen on Google Chrome or Microsoft Edge for me.  It may not be the server but some intermediate proxy?

I have checked apache configuration on the definition server and hsts is not enabled - will check if it is at the top level of the domain.

[2022-09-20 12:05] cportele commented on #170
I am using Google Chrome, Version 105.0.5195.125 (arm64). There is no proxy.

I checked the HSTS information for www.opengis.net in Chrome and based on it looks as if www.opengis.net sent HSTS headers at least on September 14 with an expiry in six months (March 2023):

* dynamic_sts_domain: www.opengis.net
* dynamic_upgrade_mode: FORCE_HTTPS
* dynamic_sts_include_subdomains: true
* dynamic_sts_obs

[2022-09-20 13:03] rob-metalinkage commented on #170
thanks - if we get other reports we might need to look at catching these somehow and warning users. Assigning to Kevin for advice.

[2022-09-20 13:05] rob-metalinkage opened #202 "HSTS headers"
see thread in #116 re HSTS headers

please review and determine if this issue requires intervention,

[2022-09-20 13:10] rob-metalinkage commented on #109
the citation behaviour is something to consider.  the UI does provide a too-subtle link to the canonical URI - we will be building a citation support widget to replace this.

the other reasons dont seem to add up however:

if there is nowhere to redirect to, there is no content to proxy either
curl is not a "client" and supports redirection with the right options

[2022-09-20 13:17] rob-metalinkage opened #203 "ingest process for TileMatrixSet registry"
#109 is actually about making the content of an external repository visible through the definitions available from the def server.

 Need to define a process to make github content available - noting direct access to github does not support correct MIME types, so the definitions server needs to check out and serve a working copy with correct MIME types, if these are linked to the normal locations

[2022-09-20 13:23] rob-metalinkage commented on #109
Content disposition requirements addressed in #203.  Leave this issue for any further discussion about redirection behaviours - but closing it for now as the content access needs to be addressed instead.

[2022-09-20 13:23] #109 closed

[2022-09-20 13:52] ghobona opened #204 "Update OGC-NA policy on specification elements to clarify positioning of module segments"
Clause 8.3 says "The second step after the `/req/` field provides the name of a requirements-module or requirement."

The policy should be clarified to distinguish between a requirements-module and requirement.

Clause 8.5 says "The second step after the `/conf/` field provides the name of a conformance-module or conformance-test."

The policy should be clarified to distinguish between a conforman

[2022-09-21 16:01] avillar commented on #170
Bugfix for seeAlso handling is live in production (see https://defs.opengis.net/vocprez/object?uri=http%3A//www.opengis.net/def/tilematrixset/OGC/1.0/WorldMercatorWGS84Quad)

[2022-09-21 17:33] avillar commented on #200
I have the rule ready and tested. Should it go in `docs_entailments.shapes.ttl`, `skos_vocprez.shapes.ttl` or somewhere else?

[2022-09-21 22:30] rob-metalinkage commented on #200
Docs.. its specific to this content.  We can refactor into a shared profile if we neef it again.

[2022-09-21 23:13] jerstlouis commented on #109
@rob-metalinkage

Not necessarily, if the idea is that the OGC definition server hosts the content directly in its database, while groups such as the Tile SWG can provide that content to load (through the [GitHub repository TileMatrixSet registry](https://github.com/opengeospatial/2D-Tile-Matrix-Set/tree/master/registry)). Is that what #203 will be about?

I beg to differ :) The `c` in cURL [stand

[2022-09-21 23:20] jerstlouis commented on #170
Thank you @avillar @rob-metalinkage . It is great that this is now fixed!

Please note that different related problems remain:
- https://www.opengis.net/def/tilematrixset/OGC/1.0/WorldMercatorWGS84Quad -- This also results in a 400. When/While a re-direct is needed, I would suggest to re-direct to http://defs.opengis.net/vocprez/object?uri=http://www.opengis.net/def/tilematrixset/OGC/1.0/WorldMerc

[2022-09-21 23:41] jerstlouis commented on #198
That particular problem has been resolved.

[2022-09-22 00:33] #200 closed

[2022-09-28 08:40] ghobona commented on #84
A proposed revision is at https://github.com/opengeospatial/NamingAuthority/tree/crs84_ellipsoidalcs/incubation/crs84

The associated Pull Request is https://github.com/opengeospatial/NamingAuthority/pull/207

As I was preparing the proposal, I discovered that the referenced **EPSG.xsd** file is no longer available. So it is not possible to validate the structure of the XML file by XSD. The EPSG.x

[2022-09-28 12:08] RogerLott commented on #84
The latest version of the EPSG XML schema is v2.2 . A download is available through https://epsg.org/gml-schema.html

[2022-09-30 09:30] jerstlouis commented on #199
Thank you very much @avillar, @rob-metalinkage, everyone, for updating the TileMatrixSet definitions to point to the Tile Matrix Set registry definitions using 2DTMS version 2.0.

Until #192 (multiple _see also_) is resolved, would it be possible to please link to (_see also_) the **JSON** definitions ( https://github.com/opengeospatial/2D-Tile-Matrix-Set/tree/master/registry/json ) rather than th

[2022-10-02 06:47] rob-metalinkage commented on #199
@jerstlouis - yes happy to add these links - but if we link to github this way then the resource will not be given the correct MIME type - we are currently look at how best to link to multiple arbitrary locations and preserve correct mime-types - it may be a matter of a pipeline accessing them from the registered source and loading them into a proxy location we can expose with correct MIME types -

[2022-10-02 07:31] jerstlouis commented on #199
@rob-metalinkage Thanks, my suggestion here was simply to use the JSON ones instead of the XML ones that are already there currently (linking to the GitHub).

I am not sure I understand the MIME type issue. Do you mean the `Content-Type:` that is returned by GitHub in HTTP response headers does not have the proper media type `application/json`?
I do see that GitHub returns `< content-type: text/pl

[2022-10-05 05:59] ghobona commented on #199
@jerstlouis @rob-metalinkage Please note that the data that was ingested into the Definition Server already has links to both the JSON and XML representations. However, VocPrez does not appear to have been configured to display multiple seeAlso statements, so only one statement is currently being shown. It's the same issue as [#192](https://github.com/opengeospatial/NamingAuthority/issues/192).

[2022-10-05 06:00] ghobona commented on #199
The source file is at https://github.com/opengeospatial/NamingAuthority/blob/master/incubation/20220926_tile_matrix_set_register/tms.ttl

[2022-10-05 13:52] jerstlouis commented on #199
@ghobona @rob-metalinkage @avillar Yes that is correct. My suggestion was a work-around for #192 considering the much greater importance of the JSON encoding for TileMatrixSets for _OGC API - Tiles_ compared to XML. So does it just happen to keep the _last_ see also entry? If so I could go through and submit a pull request that moves the .json to appear after the .xml in the .ttl file.

This tempo

[2022-10-06 08:00] rob-metalinkage commented on #203
hi - to process the new version we need to address a requirement to identify what concept scheme each concept lives in.

this can be done by either:
 making it explicit via skos:inScheme, skos:topConcept and a narrower/broader hierarchy or by uri root matching

<http://www.opengis.net/def/tms> a skos:ConceptScheme ;

does not match

 <http://www.opengis.net/def/tilematrixset/OGC/1.0/WebMercatorQua

[2022-10-06 15:08] avillar commented on #192
@rob-metalinkage, I have disabled special treatment for annotation properties, just like we talked. They are now treated like any other additional property.

All seeAlso's now appear both in defs and defs-dev: https://defs.opengis.net/vocprez/object?uri=http%3A//www.opengis.net/def/tilematrixset/OGC/1.0/CDB1GlobalGrid

Please confirm this is the desired result.

[2022-10-11 06:03] rob-metalinkage commented on #24
Discussions with ISO ongoing... yet to identify an effective forum to pursue this goal however.

[2022-11-11 15:35] ghobona commented on #198
This Issue duplicates and possibly specialises the one at https://github.com/opengeospatial/NamingAuthority/issues/124

[2022-11-11 15:45] ghobona commented on #170
Thanks @avillar !

[2022-11-11 15:45] #170 closed

[2022-11-11 15:52] ghobona commented on #192
That is indeed the result I was hoping for. Thanks.

[2022-11-11 15:52] #192 closed

[2022-11-11 16:15] ghobona commented on #193
@nicholascar @avillar @rob-metalinkage

The issue of displaying the statements in the UI has been resolved.

However, some of the statements contained anonymous nodes, hence the links to the nodes are not being displayed as links.

One option is to modify VocPrez to show anonymous nodes as well. Alternatively, we might just be able to rewrite the data avoiding use of anonymous nodes by giving the

[2022-11-15 08:16] heidivanparys opened #208 "Difference in prefLabel & definition of service type depending on the encoding/profile"
I noticed that the preferred label and the definition of a service type are different depending on the encoding (or profile, see explanation below).

E.g. WMS:

http://www.opengis.net/def/serviceType/ogc/wms :

![image](https://user-images.githubusercontent.com/11427611/201863833-c4eb67ff-4361-4eaf-a648-95486da17796.png)

When looking at the different profiles and encodings via http://www.opengis.

[2022-11-18 11:22] nmtoken opened #209 "Incorrect use of `Universal` over `Uniform`"
In A.2.  URNs for Coordinate Reference Systems of _https://docs.opengeospatial.org/pol/09-048r6.html#toc23_

We have

That's incorrect, the **U** in URL and URN stands for **Uniform** not **Universal**

[2022-11-18 12:34] ghobona commented on #209
@nmtoken Agreed, that is indeed a typo. We will update the document at the next revision.

[2022-11-22 07:44] ghobona opened #210 "Ready for OGC-NA Review: GeoSPARQL 1.1"
OGC-NA,

The document(s) titled "GeoSPARQL 1.1" is/are now available for review by the OGC Naming Authority (OGC-NA) Subcommittee.

https://portal.ogc.org/files/?artifact_id=102144

Please review the documents by 22:00 UTC on Nov 28, 2022 focusing on its conformance to OGC-NA policies.

OGC-NA policies can be found at https://www.ogc.org/standards/na

The most relevant policies are:

OGC-NA Name t

[2022-11-25 17:12] ghobona commented on #210
https://github.com/opengeospatial/ogc-geosparql/issues/392

https://github.com/opengeospatial/ogc-geosparql/issues/393

https://github.com/opengeospatial/ogc-geosparql/issues/394